<a href="https://colab.research.google.com/github/caro28/stinky/blob/master/stinky_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summary

*   This file loads and merges data from two databases for residents to report odor complaints: [SmellMyCity (SMC)](https://smellmycity.org/) and [SeeClickFix (SCF)](https://seeclickfix.com/portland_2). The data is from 2020 and 2021. 
* 83% of SMC data is from S Portland. SCF is primarily used by Portland residents, according to Maria Guerra and Luke Truman.
* Only the SMC data specifies zipcodes. We filtered the SMC data to select all zipcodes in Portland and S Portland. 83% of the odor complaints are from zip code 04106, or the area of S Portland immediately to the south of the Fore River. 99.5% of the data isi from the three zipcodes immediately to the north and south of the Fore River (04106, 04101, 04102).
*   Key columns are: Report date, Lat/Long of user, Smell description (user text), Smell value (for SMC dataset only)
*   Separate columns were added for Year/Month/Day/Hour/Minute/Seconds

## How to update df_stinky (table that combines data from SMC and SCF data)
1. Update raw SMC data and SCF data: 
   * SMC data: download from [SMC website](https://smellmycity.org/data). Select by zipcode, enter "4101,4102,4106,4107,4103,4108,4124", download and save as csv (use this file name: smc.csv)
   * Get updated SCF Excel spreadsheet from city of Portland and save as csv (use this file name: scf.csv)
   *   Upload updated csv files from SmellMyCity (SMC) and SeeClickFix (SCF) in [data folder](https://github.com/ds5110/stinky/tree/master/data)
2. Run all cells --> this will download a csv file containing df_stinky
3. Upload df_stinky.csv to [data folder](https://github.com/ds5110/stinky/tree/master/data)

# Portland and S Portland zip codes


*   Portland
  *   04101, 04102: Portland immediately north of Fore River
  *   04103: Portland, further north (to northern border of the city)
  *   04108: Portland, islands to the east (Peaks Island and Cushing Island)
  *   04124: Portland, west of airport 

*   South Portland
  *   04106, 04107: S Portland immediately south of Fore River

In [4]:
import pandas as pd

# load SMC data
url_all_zips = 'https://raw.githubusercontent.com/ds5110/stinky/master/data/smc.csv'
df_smc = pd.read_csv(url_all_zips)
print(df_smc.shape)

df_smc.head()

(2612, 9)

   epoch time  ... additional comments
0  1558531873  ...                 NaN
1  1558691615  ...                 NaN
2  1559178135  ...                 NaN
3  1559341934  ...                 NaN
4  1559387558  ...                 NaN

[5 rows x 9 columns]

In [5]:
df_smc['zipcode'].unique()

array([4101, 4102, 4106, 4107, 4103, 4108, 4124])

In [6]:
df_smc.groupby('zipcode').count()

         epoch time  date & time  ...  symptoms  additional comments
zipcode                           ...
4101             53           53  ...        16                    2
4102            376          376  ...       122                   11
4103              5            5  ...         4                    1
4106           2169         2169  ...       791                   49
4107              7            7  ...         1                    0
4108              1            1  ...         0                    0
4124              1            1  ...         0                    0

[7 rows x 8 columns]

In [7]:
df_smc.isnull().sum()

epoch time                0
date & time               0
smell value               0
skewed latitude           0
skewed longitude          0
zipcode                   0
smell description       560
symptoms               1678
additional comments    2549
dtype: int64

In [8]:
# Chnaging the date and time column to datetime format
df_smc['date & time']=df_smc['date & time'].str[0:20]
df_smc['date & time']=pd.to_datetime(df_smc['date & time'])

# Creating separate columns for date and time
df_smc['date'] = [d.date() for d in df_smc['date & time']]
df_smc['time'] = [d.time() for d in df_smc['date & time']]

# Creating separate coulumns for day, month, year, hour and month name
df_smc['Day']=df_smc['date & time'].dt.day
df_smc['Month']=df_smc['date & time'].dt.month
df_smc['Year']=df_smc['date & time'].dt.year
df_smc['Hour']=df_smc['date & time'].dt.hour
df_smc['Month_name'] = pd.to_datetime(df_smc['Month'], format='%m').dt.month_name().str.slice(stop=3)

# Creating a date and hour column
df_smc['Date & time (hour rounded)'] = df_smc['date & time'].dt.strftime("%Y-%m-%d %H:00:00")


# renaming columns
df_smc.rename(columns={'skewed latitude':'Latitude', 'skewed longitude':'Longitude'}, inplace=True)

df_smc

      epoch time         date & time  ...  Month_name  Date & time (hour rounded)
0     1558531873 2019-05-22 09:31:13  ...         May         2019-05-22 09:00:00
1     1558691615 2019-05-24 05:53:35  ...         May         2019-05-24 05:00:00
2     1559178135 2019-05-29 21:02:15  ...         May         2019-05-29 21:00:00
3     1559341934 2019-05-31 18:32:14  ...         May         2019-05-31 18:00:00
4     1559387558 2019-06-01 07:12:38  ...         Jun         2019-06-01 07:00:00
...          ...                 ...  ...         ...                         ...
2607  1626995456 2021-07-22 19:10:56  ...         Jul         2021-07-22 19:00:00
2608  1627002279 2021-07-22 21:04:39  ...         Jul         2021-07-22 21:00:00
2609  1627020315 2021-07-23 02:05:15  ...         Jul         2021-07-23 02:00:00
2610  1627043324 2021-07-23 08:28:44  ...         Jul         2021-07-23 08:00:00
2611  1627043593 2021-07-23 08:33:13  ...         Jul         2021-07-23 08:00:00

[2612 rows x 17 columns]

In [9]:
# load SCF data
url = 'https://raw.githubusercontent.com/ds5110/stinky/master/data/scf.csv'
df_scf=pd.read_csv(url)
print(df_scf.shape)
df_scf.head()

(295, 12)

        Id Report Source  ...        Lng     Export tagged places
0  7181157        iPhone  ... -70.269455  City Council District 2
1  7181402       Android  ... -70.268626  City Council District 2
2  7192000       Android  ... -70.268626  City Council District 2
3  7206428       Android  ... -70.268626  City Council District 2
4  7210067       Android  ... -70.268626  City Council District 2

[5 rows x 12 columns]

In [10]:
df_scf.isnull().sum()

Id                       0
Report Source            0
Category                 0
Created at local         0
Closed at local          2
Status                   0
Address                  0
Description             39
URL                      0
Lat                      0
Lng                      0
Export tagged places     0
dtype: int64

In [11]:
# Changing the date and time column to datetime format
df_scf['Created at local']=pd.to_datetime(df_scf['Created at local'])
df_scf['Closed at local']=pd.to_datetime(df_scf['Closed at local'])

# Creating separate columns for date and time
df_scf['date'] = [d.date() for d in df_scf['Created at local']]
df_scf['time'] = [d.time() for d in df_scf['Created at local']]

df_scf['Day']=df_scf['Created at local'].dt.day
df_scf['Month']=df_scf['Created at local'].dt.month
df_scf['Year']=df_scf['Created at local'].dt.year
df_scf['Hour']=df_scf['Created at local'].dt.hour
df_scf['Month_name'] = pd.to_datetime(df_scf['Month'], format='%m').dt.month_name().str.slice(stop=3)

# Creating a date and hour column (using the 'Created at local' column)
df_scf['Date & time (hour rounded)'] = df_scf['Created at local'].dt.strftime("%Y-%m-%d %H:00:00")

# renaming columns
df_scf.rename(columns={'Description':'smell description', 'Lat':'Latitude', 'Lng':'Longitude'}, inplace=True)

df_scf

           Id Report Source  ... Month_name Date & time (hour rounded)
0     7181157        iPhone  ...        Jan        2020-01-07 08:00:00
1     7181402       Android  ...        Jan        2020-01-07 09:00:00
2     7192000       Android  ...        Jan        2020-01-09 07:00:00
3     7206428       Android  ...        Jan        2020-01-13 08:00:00
4     7210067       Android  ...        Jan        2020-01-14 08:00:00
..        ...           ...  ...        ...                        ...
290   9986497        Portal  ...        May        2021-05-24 16:00:00
291   9989334  Web - Mobile  ...        May        2021-05-25 02:00:00
292  10033882       Android  ...        Jun        2021-06-01 07:00:00
293  10040039        iPhone  ...        Jun        2021-06-01 20:00:00
294  10043097        iPhone  ...        Jun        2021-06-02 06:00:00

[295 rows x 20 columns]

In [12]:

# Merge two datasets
df_stinky = df_scf.append(df_smc, sort=False)
df_stinky

             Id Report Source  ...              symptoms additional comments
0     7181157.0        iPhone  ...                   NaN                 NaN
1     7181402.0       Android  ...                   NaN                 NaN
2     7192000.0       Android  ...                   NaN                 NaN
3     7206428.0       Android  ...                   NaN                 NaN
4     7210067.0       Android  ...                   NaN                 NaN
...         ...           ...  ...                   ...                 ...
2607        NaN           NaN  ...                   NaN                 NaN
2608        NaN           NaN  ...                   NaN                 NaN
2609        NaN           NaN  ...                   NaN                 NaN
2610        NaN           NaN  ...                   NaN                 NaN
2611        NaN           NaN  ...  Headache and nausea                  NaN

[2907 rows x 26 columns]

In [13]:
# check that common columns were correctly merged
df_stinky.isnull().sum()

Id                            2612
Report Source                 2612
Category                      2612
Created at local              2612
Closed at local               2614
Status                        2612
Address                       2612
smell description              599
URL                           2612
Latitude                         0
Longitude                        0
Export tagged places          2612
date                             0
time                             0
Day                              0
Month                            0
Year                             0
Hour                             0
Month_name                       0
Date & time (hour rounded)       0
epoch time                     295
date & time                    295
smell value                    295
zipcode                        295
symptoms                      1973
additional comments           2844
dtype: int64

In [14]:
# look into missing 'smell description' data to check there were no merge errors
print('SCF has {} null smell description rows'.format(df_scf['smell description'].isnull().sum()))
print('SMC has {} null smell description rows'.format(df_smc['smell description'].isnull().sum()))
print('Merged df has {} null smell description rows'.format(df_stinky['smell description'].isnull().sum()))

SCF has 39 null smell description rows
SMC has 560 null smell description rows
Merged df has 599 null smell description rows

In [15]:
# download tidied df_stinky
from google.colab import files
df_stinky.to_csv('df_stinky.csv', index=False) 
files.download('df_stinky.csv')